.myWorksBlockMain {
    background-color: darkkhaki;
    width: 100%;

}

.myWorksBlockBody {
    height: 100vh;
    width: 80%;
    margin: 0 auto;
    border: 1px solid;
}

.myWorksTitle {
    height: 20vh;
    border: 1px solid;
    text-align: center;
    font-size: 3vh;
}

.myWorksBlock {
    height: 80vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.block {
    width: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    border: 1px solid;
}

.image {
    width: 100%;
    height: 50%;
    background-color: rosybrown;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonWatch {
    width: 30%;
    height: 15%;
    background-color: #cc932d;
    border: 1px solid;
}

.projectName {
    margin-left: 10%;
    background-color: rosybrown;
}

.description {
    margin: 0 auto;
    height: 20%;
    width: 80%;
    background-color: rosybrown;

}
