.myWorksBlockMain {
    min-height: 100vh;
    width: 100%;
    background-color: darkkhaki;
}

.myWorksBlockBody {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    border: 1px solid;
}

.myWorksTitle {
    height: 20vh;
    border: 1px solid;
    text-align: center;
    font-size: 3vh;
}

.myWorksBlock {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.block {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    border: 1px solid;
}

.image {
    width: 100%;
    height: 300px;
    background-color: rosybrown;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonWatch {
    width: 30%;
    height: 15%;
    background-color: #cc932d;
    border: 1px solid;
}

.projectName {
    margin-left: 10%;
    background-color: rosybrown;
}

.description {
    margin: 0 auto;
    width: 80%;
    background-color: rosybrown;
}
