@import "../Common/styles/sass/mixins";

.fix {
  position: fixed;
  width: 100%;
  z-index: 1;

  .header {
    height: 60px;
    @include container();
    @include flex(row, flex-end, center, wrap);

    .navContainer {
      display: flex;
      justify-content: space-between;

      .nav {
        cursor: pointer;
        width: 450px;
        display: flex;
        justify-content: space-between;

        & a {
          color: #333;
          font-size: 20px;
          font-weight: 300;
          text-transform: uppercase;
          text-decoration: none;
          letter-spacing: 1.5px;
        }

        .link {
          font-weight: 800;
        }

        @media screen and (max-width: 420px) {
          width: 280px;
        }
      }
    }
  }
}


