.contactsMain {
    background-color: rgba(255, 119, 135, 0.62);
    height: 40vh;
}

.contacts {
    min-height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid;
}

.text {
    font-size: 4vh;
}


.form {
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 60%;
}

.buttonSend {
    background-color: #d72f2f;
    font-size: 3vh;
    width: 40%;
    text-align: center;
}
