@import "./src/common/styles/sass/mixins";
@import "../common/components/Button/Button.module";

.contactsMain {
  min-height: 400px;

  .contacts {
    @include container();
    @include flex(column, space-around, center, wrap);

    .form {
      @include flex(row, center, center, wrap);
      min-height: 150px;
      width: 60%;

      input {
        @include text((Kanit, sans-serif), 16px, 1.5, 300);
        border: 1px solid #ddd;
        width: 100%;
        height: auto;
        padding: 8px 16px;
        margin-bottom: 10px;
        letter-spacing: 0.03em;
        color: #555;
      }
      textarea {
        @include text((Kanit, sans-serif), 16px, 1.5, 300);
        border: 1px solid #ddd;
        width: 100%;
        padding: 8px 16px;
        min-height: 100px;
        letter-spacing: 0.03em;
        color: #555;
      }
    }

    .button {
      margin: 30px 0;
      @extend .button;
    }
  }
}



