@import "../../styles/sass/mixins";

.title {
  margin: 40px 0;

  & h2 {
    @include text(("Kanit", sans-serif), 50px, 1.5, 400);
    margin: 0;
    color: #6b6d6b;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    @media screen and (max-width: 900px){
      @include text(("Kanit", sans-serif), 46px, 1.5, 400);
    }
    @media screen and (max-width: 768px){
      @include text(("Kanit", sans-serif), 42px, 1.5, 400);
    }
    @media screen and (max-width: 620px){
      @include text(("Kanit", sans-serif), 38px, 1.5, 400);
    }
    @media screen and (max-width: 440px){
      @include text(("Kanit", sans-serif), 34px, 1.5, 400);
    }
  }

  .border{
    display: block;
    width: 60px;
    height: 3px;
    background-color: #6b6d6b;
    margin: 0 auto;
    @media screen and (max-width: 700px){
      width: 50px;
    }
  }
}
