@import "../Common/styles/sass/variables";
@import "../Common/styles/sass/mixins";

.openToWork {
  @include container();
  @include flex(column, space-evenly, center, wrap);
  margin: 50px auto;

  .text {
    @include text(("Kanit", sans-serif), 32px, 1.5, 300);
    letter-spacing: 0.13em;
    text-transform: uppercase;

    .strong {
      @include text(("Kanit", sans-serif), 32px, 1.5, 800);
    }
  }
}



