@import "./src/common/styles/sass/mixins";

.skillsBlock {
  min-height: 100vh;
  @include container();
  @include flex(row, space-between, flex-start, wrap);

  .skillsContainer {
    @include flex(column, flex-start, center, wrap);

      .skills {
        width: 100%;
        @include flex(row, space-between, center, wrap);
        @media screen and (max-width: 625px) {
          justify-content: center;
        }
    }
  }
}

