.skillsBlock {
  min-height: 100vh;

  .skillsContainer {
    flex-direction: column;
    justify-content: flex-start;

    .allSkills {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      .skills {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
    }
  }
}

