@import "../Common/styles/sass/variables";
@import "../Common/styles/sass/mixins";


.mainBlock {
  min-height: 100vh;
  @include flex(row, center, center, nowrap);

  .container {
    @include container();

    .mainContent {
      @include flex(row, space-between, center, nowrap);
      @media screen and (max-width: 1000px) {
        justify-content: center;
        flex-wrap: wrap;
      }
    }

    .mainText {

      div, span {
        @include text(("Kanit", sans-serif), 40px, 1.5, 300);
        @media screen and (max-width: 1000px) {
          @include flex(row, center, center, nowrap);
          @include text(("Kanit", sans-serif), 36px, 1.5, 300);
        }
      }

      p {
        @include text(("Kanit", sans-serif), 28px, 1.5, 200);
        padding-right: 20px;

        @media screen and (max-width: 1000px) {
          @include text(("Kanit", sans-serif), 24px, 1.5, 200);
          margin-bottom: 50px;
        }

        strong {
          @include text(("Kanit", sans-serif), 28px, 1.5, 600);
          @media screen and (max-width: 1000px) {
            @include text(("Kanit", sans-serif), 24px, 1.5, 600);
          }
        }
      }
    }

    .photo {
      width: 400px;
      height: 400px;
      background-position: center;
      @media screen and (max-width: 550px) {
        width: 250px;
        height: 250px;
      }
    }
  }
}
