@import "./src/common/styles/sass/mixins";

.button {
  @include text(("Kanit", sans-serif), 12px, 1.7, 400);
  border: none;
  background: #18191B;
  color: #fff;
  padding: 10px 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
}