@import "./src/common/styles/sass/mixins";

.button {
  @include text(("Kanit", sans-serif), 12px, 1.7, 400);
  width: 140px;
  border: none;
  background-color: black;
  color: white;
  font-size: 14px;
  margin: 10px 0;
  padding: 0.4rem 0.6rem;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.button:hover,
.button:active {
  opacity: 0.8;
}

.button:focus {
  outline: none;
}