@import "../../styles/sass/mixins";

.button {
  @include text(("Kanit", sans-serif), 16px, 1.5, 400);
  width: 150px;
  border: none;
  background-color: black;
  color: white;
  margin: 20px 0;
  padding: 8px 16px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
}

.button:hover,
.button:active {
  opacity: 0.8;
}

.button:focus {
  outline: none;
}