.project{
    width: 450px;
    display: flex;
    flex-direction: column;
}

.project h3 {
    margin: 20px 20px;
    font-weight: 300;
}

.image {
    height: 300px;
    background-color: rosybrown;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}

.buttonWatch {
    background-color: #cc932d;
    padding: 10px 20px;
}

.description {
    display: inline-block;
    padding-bottom: 25px;
}