@import "./common/styles/sass/variables";
@import "./src/common/styles/sass/mixins";

* {
  margin: 0;
  @include text(("Kanit", sans-serif), 16px, 1.5, 300);
  strong{
    @include text(("Kanit", sans-serif), 16px, 1.5, 600);
  }
}

.App {
  > div {
    &:nth-child(n) {
      background-color: $primaryBgColor;
    }

    &:nth-child(2n) {
      background-color: $secondBgColor;
    }
  }
}

body {
  color: #555;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.03em;
}


a, textarea {
  text-decoration: none;
  color: #222;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

a img {
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

a, img, :focus, input {
  outline: none !important;
}

a:hover, a:focus {
  color: #666;
  text-decoration: none;
  opacity: .7;
}

a img:hover {
  opacity: .7;
}

button:hover {
  text-decoration: none;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
  opacity: 0.65;
}

