* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    color: #555;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0.03em;
}


a, textarea {
    text-decoration: none;
    color: #222;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    transition: all 0.25s linear;
}

a img {
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    transition: all 0.25s linear;
}

a, img, :focus, input {
    outline: none !important;
}

a:hover, a:focus {
    color: #666;
    text-decoration: none;
}

a img:hover {
    opacity: .7;
}

.no-pad {
    padding: 0 !important;
    margin: 0 !important;
}

.no-pad-btm {
    padding-bottom: 0 !important;
}

.no-pad-top {
    padding-top: 0 !important;
}

button:hover {
    text-decoration: none;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
    opacity: 0.65;
}

