@import "../common/styles/sass/variables";
@import "./src/common/styles/sass/mixins";

.footerMain {
  padding: 30px 0px;
  height: 200px;
  background-color: $secondBgColor;
  @include flex(row, center, center, wrap);

  .footer {
    @include flex(column, space-between, center, wrap);
    @include container();
    height: 120px;

    .textName {
      @include text(("Kanit", sans-serif), 16px, 1.7, 200);
    }

    .icons {
      display: flex;
      justify-content: space-between;
      width: 200px;
      height: 30px;

      .square {
        width: 36px;
        height: 36px;
        background-color: #3692a2;
      }
    }
    .rights {
      @include text(("Kanit", sans-serif), 16px, 1.7, 200);
    }
  }
}










