@import "../Common/styles/sass/variables";
@import "../Common/styles/sass/mixins";

.aboutMeBlock {
  margin-bottom: 50px;

  .aboutMeContainer {
    @include container();
    @include flex(column, center, center, wrap);

    .text {
      padding: 10px;
      font-size: 20px;
      margin: 50px 0;
      @media screen and (max-width: 768px){
        font-size: 16px;
        margin: 0 0 30px;
      }
    }

    .aboutMe {
      @include flex(row, space-between, center, nowrap);
      width: 100%;
      @media screen and (max-width: 620px) {
        @include flex(column, space-between, center, nowrap);
      }

      .info {
        padding: 10px;

        div {
          margin: 10px 0;
          @media screen and (max-width: 768px){
            @include text(("Kanit", sans-serif), 14px, 1.5, 300);
          }
        }

        div strong {
          width: 70px;
          display: inline-block;
          @media screen and (max-width: 768px){
            @include text(("Kanit", sans-serif), 14px, 1.5, 600);
            width: 60px;
          }
          @media screen and (max-width: 340px){
          display: block;
            margin: 5px 0;
        }
        }
      }

      .btn {
        margin-right: 50px;
        @media screen and (max-width: 620px) {
          margin: 0;
        }
      }
    }
  }
}