@import "../Common/styles/sass/variables";
@import "../Common/styles/sass/mixins";

.aboutMeBlock {
  margin-bottom: 50px;

  .aboutMeContainer {
    @include container();
    @include flex(column, center, center, wrap);

    .text {
      padding: 10px;
      font-size: 20px;
      margin: 50px 0;
    }

    .aboutMe {
      display: flex;
      align-items: center;
      width: 100%;

      .info {
        padding: 10px;
        margin-right: 200px;

        div {
          margin: 10px 0;
        }

        div strong {
          width: 70px;
          display: inline-block;
        }
      }
    }
  }
}