@import "../common/styles/sass/variables";

.distantWorkMain {
  background-color: $secondBgColor;
  height: 230px;
  padding: 30px 0px;

  .distantWork {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .text {
      font-size: 22px;
    }

    .button {
      background-color: #d72f2f;
      font-size: 3vh;
      width: 30%;
      text-align: center;
    }
  }
}


