@import "../Common/styles/sass/variables";
@import "../Common/styles/sass/mixins";
//@include flex(row, center, center, wrap);

.projectsBlock {
  color: $textColor;

  .projectsContainer {
    @include flex(column, flex-start, center, nowrap);
    @include container();

    .projects {
      @include flex(row, space-between, center, wrap);
      text-align: center;
      width: 100%;

      .project {
        width: 450px;
        margin: 20px;
        @include flex(column, flex-start, null, wrap);

        .image {
          height: 300px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-size: cover;
          background-position: center;
          cursor: pointer;
        }

        & h3 {
          margin: 20px 20px;
          @include text(("Kanit", sans-serif), 22px, 1.5, 300);
          text-transform: uppercase;
          letter-spacing: 0.18em;
          color: $titleColor;
        }

        .description {
          @include text(("Kanit", sans-serif), 16px, 1.7, 200);
          padding-bottom: 25px;
          color: $textColor;
        }
      }

      @media screen and (max-width: 1129px) {
        justify-content: center;
      }
    }
  }
}


