.projectsBlock {
    min-height: 100vh;
    background-color: darkkhaki;
    padding: 100px 0;
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.title {
    margin: 35px 0;
}

.title h2 {
    margin: 0;
    font-family: 'Kanit', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.18em;
    color: inherit;
    font-weight: 200;
}

.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media screen and (max-width: 1129px) {
    .projects {
        justify-content: center;
    }
}