@import "../common/styles/sass/variables";

.projectsBlock {
  min-height: 100vh;
  padding: 100px 0;
  color: $textColor;

  .projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;

    .projects {
      text-align: center;
      width: 100%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      @media screen and (max-width: 1129px) {
        justify-content: center;
      }
    }
  }
}
